/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/* css reset / normalize */

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
b, u, i, center, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}
  
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, input, textarea, select, button {
  display: block;
}

*:focus {
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  color: #fff;
  background-color: #999;
}

body {
  line-height: 1;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font: 400 1.125rem/1.25 'PT Sans', sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
  
p {
  font: 400 1rem/1.25 'PT Sans', sans-serif;
  line-height: 1;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

li {
  text-align: left;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

a {
  text-decoration: none;
  color: #333;
  font: 400 1rem/1.125 'Montserrat', sans-serif;
  transition: color 0.5s ease 0s;
}

a:hover, a:active {
  color: #333;
  transition: color 0.5s ease 0s;
}

.relative {
  position: relative;
}
  
.clear:before, .clear:after {
  content: '';
  clear: both;
  display: block;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

.none {
  display: none;
}

/* hidden for visitors, visible for screenreader */

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

/* main css */
  
body {
  width: 100%;
  min-height: 100%;
  min-width: 480px;
  color: #333;
  background-color: #fff;
  overflow-x: hidden;
}

#wrapper {
  width: 100%;
  min-width: 360px;
  overflow-x: hidden;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.fullscreen {
  width: 100%;
  max-width: 1920px;
  padding: 0;
  margin: 0 auto;
  position: relative;
}

.row {
  text-align: justify;
  font-size: 0;
}

.row::after {
  content: '';
  display: inline-block;
  width: 100%;
}

.col {
  display: inline-block;
  vertical-align: middle;
}

.menu li {
  display: inline-block;
}

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  background-color: rgba(25, 55, 28, 0.9);
  padding: 0 20px;
}

.header .logo {
  display: none;
  margin: 30px auto;
}

.header .menu a {
  font: 400 3rem/1.25 'Amatic SC', cursive;
  color: #FFF;
  padding: 30px;
  display: inline-block;
  transition: background-color 0.3s ease 0s;
  -webkit-transition: background-color 0.3s ease 0s;
}

.header .menu a:hover {
  background-color: rgb(50, 200, 50, 0.1);
}

.header .phone {
  font: 400 2rem/1.25 'Amatic SC', cursive;
  color: #FFF;
  padding: 10px 0 10px 60px;
  background: url(img/phone.png) 0 center no-repeat;
}

.header .cart {
  display: inline-block;
  cursor: pointer;
}

.section-title {
  font: 700 5.75rem/1.25 'Amatic SC', cursive;
  text-transform: uppercase;
  text-align: center;
  padding: 45px 0 20px 0;
  color: #8c734b;
}

.section-description {
  font: 400 2rem/1.25 'PT Sans', sans-serif;
  color: #8c734b;
}

.christmas {
  background: url(img/christmas.jpg) center center no-repeat;
  background-size: cover;
  padding-top: 150px;
  box-sizing: border-box;
  min-height: 100vh;
}

.christmas::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(65, 40, 40, 0.3);
  z-index: 1;
}

.christmas .container {
  z-index: 2;
}

.christmas .logo {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.christmas .logo:hover {
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.christmas .title {
  font: 700 7rem/1 'Amatic SC', cursive;
  color: #FFF;
  text-transform: uppercase;
  vertical-align: top;
  text-align: center;
}

.christmas .small {
  font: 400 2rem/2 'PT Sans', sans-serif;
  color: #FFF;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.advantages {
  text-align: center;
  background-color: #8c734b;
  color: #FFF;
}

.advantages .section-title {
  color: #FFF;
}

.advantages .collection {
  padding-bottom: 50px;
}

.advantages .card {
  width: 320px;
  text-align: center;
  margin: 10px 0 30px 0;
}

.advantages .card-img {
  margin: 0 auto;
}

.advantages .card-img .img {
  max-width: 150px;
  max-height: 130px;
  transition: transform 0.5s ease 0s;
}

.advantages .card:hover .img {
  transform: scale(1.1);
  transition: transform 0.5s ease 0s;
}

.advantages .card-title {
  font: 700 2.25rem/1.25 'Amatic SC', cursive;
  text-transform: uppercase;
  padding-top: 30px;
}

.advantages .card-description p {
  font: 400 1rem/1.25 'PT Sans', sans-serif;
  padding-top: 30px;
}

.catalog {
  text-align: center;
  padding: 0 15px;
}

.catalog .section-title {
  margin-bottom: 100px;
}

.catalog .general .card, .catalog .boxing .card {
  text-align: center;
  font-size: 0;
  width: 25%;
  transition: box-shadow 0.5s ease 0s;
}

.catalog .standard .card {
  width: 50%;
}

.catalog .general .card {
  color: #8c734b;
  padding: 5px 5px 80px 5px;
  max-width: 461px;
}

.catalog .boxing .card {
  color: #FFF;
  height: 480px;
}

.catalog .card:hover {
  box-shadow: 0 2px 7px rgba(65, 40, 40, 0.5);
  transition: box-shadow 0.5s ease 0s;
}

.catalog .general .card .card-img {
  max-height: 421px;
  max-width: 451px;
  overflow: hidden;
  margin: 0 auto;
}

.catalog .general .card .img {
  transition: transform 0.5s ease 0s;
  width: 100%;
}

.catalog .boxing .card .card-img {
  overflow: hidden;
  position: absolute;
}

.catalog .boxing .card .img {
  transition: transform 0.5s ease 0s;
}

.catalog .general .card:hover .img {
  transform: scale(1.1);
  transition: transform 0.5s ease 0s;
}

.catalog .boxing .card:hover .img {
  transform: scale(1.1);
  filter: brightness(0.7);
  transition: all 0.5s ease 0s;
}

.catalog .boxing .card .card-description {
  position: relative;
  padding-top: 70px;
}

.catalog .card-title {
  font: 700 6rem/1.5 'Amatic SC', cursive;
}

.catalog .general .card-title {
  font: 700 4.5rem/2 'Amatic SC', cursive;
}

.catalog .weight {
  font: 400 2.25rem/1.25 'PT Sans', sans-serif;
}

.catalog .price {
  font: 400 4rem/2 'PT Sans', sans-serif;
}

.catalog .button {
  font: 700 1.5rem/1.25 'PT Sans', sans-serif;
  background-color: #FFF;
  color: #8c734b;
  display: inline-block;
  padding: 18px 48px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 1px solid #FFF;
  border-radius: 20px;
  transition: background-color 0.5s ease 0s;
  cursor: pointer;
}

.catalog .general .button {
  font: 700 1.5rem/1.25 'PT Sans', sans-serif;
  background-color: #8c734b;
  color: #FFF;
  display: inline-block;
  padding: 18px 48px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: 1px solid #8c734b;
  border-radius: 20px;
  transition: background-color 0.5s ease 0s;
  cursor: pointer;
}

.catalog .button:hover {
  background-color: #FFF;
  color: #8c734b;
  transition: background-color 0.5s ease 0s;
}

.catalog .boxing .button:hover {
  background-color: #8c734b;
  color: #FFF;
  transition: background-color 0.5s ease 0s;
}

.catalog .control {
  text-align: left;
}

.catalog .control .button {
  font: 700 1.5rem/1.25 'PT Sans', sans-serif;
  color: #8c734b;
  display: inline-block;
  padding: 18px 48px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: background-color 0.5s ease 0s;
  cursor: pointer;
}

.catalog .goto {
  position: absolute;
  left: 100px;
  top: 37px;
}

.catalog .goto-main {
  transition: transform 0.5s ease 0s;
}

.catalog .goto-main:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease 0s;
}

.about {
  text-align: center;
}

.about .collection {
  font-size: 0;
  margin-top: 50px;
}

.about .card-icon {
  width: 50%;
  height: 400px;
  vertical-align: top;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box;
}

.about .ci {
  background-size: cover;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.about .ci:hover {
  transform: scale(1.1);
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
}

.about .ci-1 {
  background: url(img/bg_01.png) center center no-repeat;
}

.about .ci-2 {
  background: url(img/bg_02.png) center center no-repeat;
}

.about .ci-3 {
  background: url(img/bg_03.png) center center no-repeat;
}

.about .ci-4 {
  background: url(img/bg_04.png) center center no-repeat;
}

.about .ci-5 {
  background: url(img/bg_05.png) center center no-repeat;
}

.about .ci-6 {
  background: url(img/bg_06.png) center center no-repeat;
}

.about .card-plate {
  background-color: #8c734b;
  width: 50%;
  height: 400px;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  padding: 5% 7% 0;
}

.about .card-description {
  font: 400 1.85rem/1.25 'PT Sans', sans-serif;
  color: #FFF;
}

.salestart {
  text-align: center;
}

.salestart .section-img {
  height: 600px;
  margin-top: 50px;
  overflow: hidden;
}

.salestart .section-img:hover .img {
  transform: scale(1.1);
  transition: transform 0.5s ease 0s;
}

.salestart .section-img .img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease 0s;
}

.salestart .section-description {
  font-weight: 700;
  padding: 50px 75px 50px 100px;
  background: url(img/icon_time.png) 0 center no-repeat;
  background-size: 74px;
  display: inline-block;
  box-sizing: border-box;
}

.salestart .catalog {
  display: inline-block;
  margin: 50px 0;
  font: 700 1.8rem/1.25 'PT Sans', sans-serif;
  text-transform: uppercase;
  background-color: #8c734b;
  border: 1px solid #8c734b;
  border-radius: 20px;
  color: #FFF;
  padding: 35px 80px;
  letter-spacing: 0.5rem;
  transition: color, background-color 0.5s ease 0s;
  -webkit-transition: color, background-color 0.5s ease 0s;
}

.salestart .catalog:hover {
  background-color: #FFF;
  color: #8c734b;
  transition: color, background-color 0.5s ease 0s;
  -webkit-transition: color, background-color 0.5s ease 0s;
}

.creative {
  text-align: center;
}

.creative .webform {
  margin: 45px auto;
  width: 100%;
  max-width: 800px;
}

.creative .label {
  font: 400 1.5rem/1.25 'PT Sans', sans-serif;
  color: #8c734b;
  display: block;
  text-align: left;
  padding-bottom: 30px;
}

.creative .label span {
  padding-bottom: 10px;
  display: inline-block;
}

.creative .text {
  font: 400 1.5rem/1.25 'PT Sans', sans-serif;
  width: 100%;
  padding: 10px 25px;
  border: 1px solid #8c734b;
  border-radius: 10px;
  color: #333
}

.creative .text::placeholder {
  font: 400 0.8rem/1.25 'PT Sans', sans-serif;
  color: #8c734b;
  opacity: 0.5;
}

.creative .submit {
  display: inline-block;
  cursor: pointer;
  font: 700 1.8rem/1.25 'PT Sans', sans-serif;
  text-transform: uppercase;
  background-color: #8c734b;
  border: 1px solid #8c734b;
  border-radius: 20px;
  color: #FFF;
  padding: 35px 80px;
  letter-spacing: 0.5rem;
  transition: color, background-color 0.5s ease 0s;
  -webkit-transition: color, background-color 0.5s ease 0s;
}

.creative .submit:hover {
  background-color: #FFF;
  color: #8c734b;
  transition: color, background-color 0.5s ease 0s;
  -webkit-transition: color, background-color 0.5s ease 0s;
}

.workflow .roadmap {
  margin: 100px 0 50px 0;
}

.workflow .card {
  display: table-cell;
  width: 25%;
  vertical-align: top;
}

.workflow .number {
  font-size: 3rem;
  color: #FFF;
  background-color: #8c734b;
  border-radius: 50%;
  padding: 35px;
  line-height: 30px;
  margin-top: -3rem;
}

.workflow .card-number {
  display: flex;
}

.workflow .card-number:before, .workflow .card-number:after {
  content: '';
  height: 7px;
  background-color: #8c734b;
  flex-grow: 1;
}

.workflow .card:first-child .card-number:before, .workflow .card:last-child .card-number:after {
  background-color: #FFF;
}

.workflow .card-title {
  font: 700 2.25rem/1.25 'PT Sans', sans-serif;
  color: #8c734b;
  text-align: center;
  margin: 30px 0 10px 0;
}

.workflow .card-description {
  font: 400 1.25rem/1.25 'PT Sans', sans-serif;
  color: #8c734b;
  padding: 0 20px;
}

.contacts {
  text-align: center;
}

.contacts .fullscreen {
  height: 638px;
  background: url(img/contacts.jpg) center center no-repeat;
  background-size: contain;
}

.contacts .contacts-plate {
  background-color: rgba(255, 255, 255, 0.8);
  color: #8c734b;
  display: inline-block;
  padding: 75px;
  margin-top: 114px;
}

.contacts .contacts-plate p {
  line-height: 1.25;
}

.instagram {
  text-align: center;
}

.instagram .collection {
  font-size: 0;
  margin-top: 30px;
}

.instagram .card-plate {
  display: inline-block;
  overflow: hidden;
  width: 50%;
}

.instagram .card-plate:hover .cp {
  transform: scale(1.05);
  transition: transform 0.5s ease 0s;
}

.instagram .cp {
  width: 100%;
  height: 400px;
  transition: transform 0.5s ease 0s;
}

.instagram .cp-1 {
  background: url(img/instagram-1.jpg) center center no-repeat;
}

.instagram .cp-2 {
  background: url(img/instagram-2.jpg) center center no-repeat;
}

.instagram .cp-3 {
  background: url(img/instagram-3.jpg) center center no-repeat;
}

.instagram .cp-4 {
  background: url(img/instagram-4.jpg) center center no-repeat;
}

.footer {
  background-color: #171717;
  padding: 50px;
  color: #FFF;
}

.footer .logo {
  display: inline-block;
  overflow: hidden;
  font-size: 0;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright p {
  text-transform: uppercase;
}